<nav class="navbar navbar-light bg-light">
  <h1>
    Home Security
  </h1>
</nav>

<div class="container glo" *ngIf="this.authentified">
  <div class="row">
    <div class="col-sm">
      <manc></manc>
    </div>
    <div class="col-sm">
      <livestatus></livestatus>
    </div>
    <div class="col-sm">
      <config></config>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col sm-8">
      <str></str>
    </div>
  </div>
</div>
<div class="container glo">
  <div class="row justify-content-around">
    <div class="col sm-8">
      <auth></auth>
    </div>
  </div>
</div>